@import "node_modules/@wordpress/base-styles/colors";
@import "node_modules/@wordpress/base-styles/variables";

.publish-guide-popover {

	&__items {
		list-style-type: none;
		margin: 0;
		min-height: 580px;
		max-height: calc(100vh - 200px);
		overflow: hidden;
		padding: 0;
		width: 350px;
	}

	&__item {
		border-bottom: 1px solid $gray-100;
		display: flex;
		margin-bottom: 0;
		padding: 22px 22px 22px 20px;
		transition: background-color .4s;

		&:last-of-type {
			border-bottom: 0;
		}

		&--highlight {
			background-color: rgba(216, 239, 239, 0.4);
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&__controls {
			margin-right: 2px;

			.components-base-control,
			.components-base-control__field {
				margin-bottom: 0 !important;
			}

			.components-checkbox-control__input[type="checkbox"] {
				border-width: 2px;

				&:checked {
					background-color: var(--wp-admin-theme-color);
				}
			}

			.components-checkbox-control__checked {
				height: 20px;
				left: 0;
				top: 0;
				width: 20px;
			}
		}

		&__inner-content {
			margin-top: 0.9em;
		}

		&__title {
			color: $gray-900;
			font-size: 1.1em;
			font-weight: 400;
			margin: 0;
			padding-top: 2px;
		}

		&__text {
			color: $gray-700;
			font-size: 1em;
			margin-top: 0.7em;
			margin-bottom: 0;
		}

		&__cta.components-button {
			color: var(--wp-admin-theme-color);
			display: block;
			font-size: 1em;
			text-decoration: none;
		}

		.components-base-control__label {
			margin-bottom: 5px;
		}

		.components-base-control {
			margin-bottom: 15px;
		}

		.components-button.is-link:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
			color: var(--wp-admin-theme-color-darker-20) !important;
		}
	}

	&__upload-button.components-button {
		background: rgba(0, 0, 0, 0.025);
		border: 1px dashed $gray-600;
		box-sizing: border-box;
		border-radius: 0;
		cursor: default;
		display: block;
		line-height: 1.6;
		padding: 18px 0;
		position: relative;
		text-align: center;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	&__upload-button:hover {
		cursor: pointer;
	}

	&__link {
		margin-top: 0.65em !important;
		text-decoration: none !important;
	}

	&:hover {
		border-color: var(--wp-admin-theme-color);
	}

	&__item:first-child {
		padding-top: 22px;
	}

	.icon--external {
		margin-left: 5px;
	}

	.is-primary.components-button {
		background-color: $gray-900;
		border-color: $gray-900;
		border-radius: 0;
		font-family: gdsherpa, Helvetica, Arial, sans-serif;
		font-size: 15px;
		font-weight: 600;
		height: 42px;
		line-height: 1;
		padding-bottom: 0;
		padding-left: 22px;
		padding-right: 22px;
		padding-top: 1px;
		-webkit-font-smoothing: antialiased;
	}


	&__success {
		background-color: #F1F9F9;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	&__more-dropdown .components-button:focus:not(:disabled) {
		box-shadow: none !important;
	}

	&.components-animate__appear {
		animation-duration: 250ms;
		animation-iteration-count: 1;
		animation-name: PublishGuidePopover;
	}

	.components-popover__content {
		border-color: $gray-900;
		box-shadow: rgba(0, 0, 0, 0.025) 0 0 0 1px, rgba(0, 0, 0, 0.075) 0 5px 20px 0, rgba(0, 0, 0, 0.025) 0 3px 3px 0;
		max-height: 650px !important;
		min-width: 300px;
	}

	.components-modal__header {
		border-color: $gray-900;
		height: 56px;
		margin: 0;
		padding: 0 12px 0 20px;

		h1 {
			font-family: gdsherpa, Helvetica, Arial, sans-serif;
			font-weight: 500;
			color: $gray-900;
		}
	}
}

.publish-guide-popover__do-this-later {
	color: var(--wp-admin-theme-color);
	font-weight: 600;
	margin-left: 5px;
	outline: none !important;
	box-shadow: none !important;
	text-decoration: none;

	&:hover {
		color: var(--wp-admin-theme-color-darker-20) !important;
	}
}

.publish-guide-success {
	font-family: gdsherpa, Helvetica, Arial, sans-serif;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding-top: 56px;

	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		& > p {
			font-size: 1.2em;
			margin: 0 0 1em;
		}
	}

	&__svg {
		height: 125px;
		margin-bottom: 2.5em;
		margin-left: 2em;
	}

	&__website {
		color: $gray-900 !important;
		font-size: 1.25em !important;
		font-weight: 600;
		text-decoration: none !important;
		transition: color .2s;
		-webkit-font-smoothing: antialiased;

		&:hover {
			color: var(--wp-admin-theme-color) !important;
		}
	}

	&__social {
		display: flex;
		margin-top: 1.25em;

		&__item {
			margin: 0 .5em;
		}

		&__button {
			color: $gray-900 !important;
			transition: color .2s;

			&:hover {
				color: var(--wp-admin-theme-color) !important;
			}
		}

		svg {
			transform: scale(1.6);
		}
	}

	&__footer {
		border-top: 1px solid $gray-900;
		display: flex;
		flex-direction: column;
		margin-top: auto;
		padding: 14px 0;
		width: 100%;

		&__button {
			color: $gray-900 !important;
			display: flex;
			font-size: 1.1em !important;
			justify-content: space-between;
			padding: 8px 20px !important;
			text-decoration: none !important;
			transform: all .2s;
			width: 100%;

			&:hover,
			&:active {
				color: var(--wp-admin-theme-color) !important;
			}
		}
	}
}

.publish-guide-trigger {
	bottom: $grid-unit-40;
	position: absolute;
	right: $grid-unit-40;
	z-index: 2;

	&.is-shifted {
		right: $sidebar-width + $grid-unit-40;
	}

	&__button {
		align-self: center;
		border-radius: 100% !important;
		display: flex;
		height: 44px !important;
		justify-content: center;
		line-height: 44px;
		padding: 0;
		width: 44px;
		transition: all 100ms linear 0s;

		&:active {
			transform: scale(0.96);
		}

		> span {
			align-items: center;
			bottom: 0;
			display: flex;
			height: 44px;
			justify-content: center;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: opacity 90ms linear 0s, transform 180ms linear 0s;
			width: 44px;
			will-change: opacity, transform;
		}

		&__icon-check {
			opacity: 1;
			transform: rotate(0deg) scale(1);
		}

		&__icon-close {
			opacity: 0;
			transform: rotate(25deg) scale(1);
		}

		&__pulse {
			z-index: -1;

			span {
				animation-direction: normal;
				animation-duration: 2.5s;
				animation-fill-mode: forwards;
				animation-iteration-count: 1;
				animation-name: PublishGuidePulse;
				background: var(--wp-admin-theme-color);
				border-radius: 50%;
				display: block;
				height: 0;
				left: 0;
				padding-top: 100%;
				position: absolute;
				top: 0;
				width: 100%;
			}

			span:first-child {
				animation-delay: 0.33s;
			}
		}

		&.is-opened {

			.publish-guide-trigger__button__icon-close {
				opacity: 1;
				transform: rotate(0deg) scale(1);
			}

			.publish-guide-trigger__button__icon-check {
				opacity: 0;
				transform: rotate(0deg) scale(0);
			}
		}
	}
}

@keyframes PublishGuidePulse {

	0% {
		opacity: 0.1;
		transform: scale(0);
	}

	50% {
		opacity: 0.1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(2.25);
	}
}

@keyframes PublishGuidePopover {

	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.publish-guide-success p,
.publish-guide-success__svg {
	opacity: 0;
	animation-duration: 400ms;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: PublishGuideFadeUp;
	animation-delay: 50ms;
}

.publish-guide-success p {

	&:nth-child(2) {
		animation-delay: 200ms;
	}

	&:nth-child(3) {
		animation-delay: 400ms;
	}

	&:nth-child(4) {
		animation-delay: 600ms;
	}
}

@keyframes PublishGuideFadeUp {

	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	75% {
		transform: translateY(0);
	}

	100% {
		opacity: 1;
	}
}

.publish-guide-success__confetti {
	margin-top: -10px;
}

.publish-guide-feedback {
	font-family: gdsherpa, Helvetica, Arial, sans-serif;
}

.publish-guide-success__social li {
	opacity: 0;
	transform: scale(0.5);
	animation-duration: 400ms;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: PublishGuideScaleFade;
	animation-delay: 700ms;

	&:nth-child(2) {
		animation-delay: 900ms;
	}

	&:nth-child(3) {
		animation-delay: 1100ms;
	}
}


@keyframes PublishGuideScaleFade {

	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

// Overrides cause core sucks
.components-dropdown-menu__popover {

	.components-popover__content {
		border-color: $gray-900;
		box-shadow: none;
	}
}
