.wp-block {
  max-width: 100vw;
  font-family: arial;
}

section h1,
section h2 {
  color: rgba(86, 166, 63, 1);
}

section h3 {
  color: rgba(86, 166, 63, 1);
}

section a {
  color: #89B64D;
}

section button:not([type=button]),
section a.button,
section input[type="submit"] {
  background: rgba(86, 166, 63, 1);
}

section li:before {
  background: #999;
}

#site-header a:not(.button) {
  color: rgba(86, 166, 63, 1);
}

.testimonials h2+p {
  color: rgba(86, 166, 63, 1);
}

.gform_wrapper span.gform_description {
  color: rgba(86, 166, 63, 1);
}

.hero .image-side:after {
  background: rgba(86, 166, 63, 1);
}

.form-block.dark {
  background-color: rgba(86, 166, 63, 1);
}

.form-block.light {
  background-color: #89B64D;
}

.now .price {
  color: rgba(86, 166, 63, 1);
}

.was .price:after {
  border: 1px solid rgba(86, 166, 63, 1);
}

.big-dot .text-side {
  background: radial-gradient( ellipse at center, rgba(8, 130, 65, 1) 0%, rgba(8, 130, 65, 1) 70%, rgba(8, 130, 65, 0) 70.3%);
}

.half-and-half-products .price-block {
  background: #b7da8a;
}

.half-and-half-products .image-side:after,
section .featured .item .image-side:after,
.half-and-half .image-side:after {
  background: rgba(86, 166, 63, 1);
}

.fsBody.frame .button {
  color: rgba(86, 166, 63, 1)!important;
}

.half-and-half-products .was .price:before {
  border-top: 2px solid rgba(86, 166, 63, 1);
}

.half-and-half-products .now .month {
  color: rgba(86, 166, 63, 1);
}

.grey {
  background: #ebebeb;
}

.dark-grey {
  background: #666;
}

.green {
  background: #89B64D;
}

.overlay:before {
  content: "HIDDEN OVERLAY MODULE";
  display: block;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  background: #999;
  color: #fff;
  text-align: center;
}

.overlay .callout {
  background: #ebebeb;
  width: calc(100%);
  padding-bottom: 3.5vw;
}

.overlay .callout .inner-box .copy {
  max-width: 100%;
}

.overlay .close {
  position: absolute;
  color: #707070;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 5em;
  display: block;
  right: 40px;
  top: 40px;
  z-index: 100;
  cursor: pointer;
}


/* MAIN CUSTOM THEME CSS HERE */

section h1,
section h2 {
  font-size: 1.9em;
  font-weight: 200;
  line-height: 1em;
}

section h3 {
  font-weight: 200;
}

section p {
  line-height: 1.5;
  font-weight: 300;
}

section a {
  text-decoration: none;
}

section button:not([type=button]),
section a.button,
section input[type="submit"] {
  border: none!important;
  margin: 0.5em 2em 0.5em 0;
  border-radius: 8px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 110px;
}

section a.button.phone {
  font-size: 0.8em;
}

section a.button.phone:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
  background: url(../images/icon-phone-white.png) no-repeat center center / contain;
}

section select,
section input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
  height: 40px;
  border-radius: 8px;
  border: 2px solid #ccc;
  margin-top: 0;
}

section ul {
  list-style: none;
  margin: 2em 0;
  padding: 0;
}

section li {
  font-size: 0.8em;
  display: inline-block;
  width: 100%;
  padding: 0 0 0 20px;
  position: relative;
  margin-bottom: 1em;
}

section li:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
}

section p.big {
  font-size: 1.8em;
  text-align: center;
  font-weight: 300;
}

section .small {
  font-size: 0.7em;
}

section .inner-box {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero .text-side {
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 30px;
}

.hero .text-side .copy {
  width: 100%;
  max-width: 650px;
}

.hero .image-side {
  -ms-grid-column: 2;
  position: relative;
  background: url(../images/hero-image.png) no-repeat right center/ contain;
  height: 40vw;
  width: 50vw;
}

.hero .image-side:after {
  content: "";
  display: block;
  position: absolute;
  width: 40vw;
  height: 40vw;
  top: 50%;
  right: 7%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.hero .image-side.no-dot:after {
  display: none;
}

.hero .inner-box {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin: 0;
}

.hero .small-text {
  font-size: 0.5em;
  display: inline-block;
  margin-right: -3em;
}

.hero .price {
  font-size: 3em;
  color: #c3001d;
}

.hero .small-month {
  font-size: 0.7em;
  color: #c3001d;
  display: inline-block;
  margin-left: -2em;
}

.hero .price sup {
  font-size: 0.5em;
}

.hero .duration {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

.hero .link-block {
  margin-bottom: 1em;
}

.hero .link-block a {
  color: inherit;
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.5em;
}

.hero .link-block a:after {
  content: " >";
}

.half-and-half {
  position: relative;
  z-index: 0;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0 0;
}

.half-and-half .inner-box {
  padding-bottom: 5px;
}

.half-and-half .text-side {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 30px;
}

.half-and-half .text-side .copy {
  width: 100%;
  max-width: 440px;
}

.half-and-half .image-side {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 30vw;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  position: relative;
  text-align: center;
}

.half-and-half .image-side img {
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.half-and-half .image-side:after {
  content: "";
  display: block;
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  z-index: -1;
  border-radius: 50%;
}

.half-and-half:nth-of-type(odd) {
  background: #ebebeb;
}

.half-and-half:nth-of-type(even) .text-side {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.half-and-half:nth-of-type(even) .image-side {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.half-and-half:nth-of-type(even) .price-block {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.half-and-half:nth-of-type(even) .price-block .copy {
  float: left;
}

.featured .product-grid {
  display: grid;
  display: -ms-grid;
  -ms-grid-template-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.featured .item {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1em 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0 0;
}

.featured .item:nth-child(1) {
  -ms-grid-column: 1;
}

.featured .item:nth-child(2) {
  -ms-grid-column: 3;
}

.featured .item:nth-child(3) {
  -ms-grid-column: 5;
}

.featured .text-side {
  grid-column: 2;
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 90%;
}

.featured .text-side .prod-logo {
  max-height: 25px;
}

.featured .text-side h3 {
  font-size: 0.9rem;
  font-weight: 400;
}

.featured .text-side p {
  line-height: 1.2;
}

.featured .text-side span.price {
  font-size: 3em;
  float: left;
  line-height: 1;
}

.featured .text-side span.price sup {
  font-size: 0.5em;
  line-height: 1;
}

.featured .image-side {
  grid-column: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  position: relative;
  text-align: right;
}

.featured .image-side img {
  display: inline-block;
  max-width: 100%;
  max-height: 225px;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
  margin-right: 1em;
}

.featured .image-side:after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  z-index: 0;
  border-radius: 50%;
}

.featured .cta-block {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.featured .cta-block a {
  font-size: 0.8em;
}

.info-block {
  background: #f1f1f1;
}

.info-block .comparison {
  width: 100%;
  margin-top: 60px;
}

.info-block .comparison th {
  font-size: 0.9em;
  width: 16.666%;
  text-align: center;
  padding: 10px 0;
  border-right: 1px solid #999;
  vertical-align: middle;
}

.info-block .comparison td {
  padding: 40px 0;
  text-align: center;
  border-right: 1px solid #999;
  vertical-align: middle;
}

.info-block .comparison tbody tr:nth-child(odd) {
  background: #fff;
}

.testimonials .item {
  border-bottom: 1px solid #999;
}

.testimonials p.pretext {
  color: #010101;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.testimonials h3 {
  color: #010101;
  text-transform: uppercase;
}

.testimonials h2 {
  margin: 0;
}

.testimonials h2+p {
  font-size: 1.2em;
}

.testimonials .name {
  font-size: 1.6em;
}

.testimonials .star-rating {
  background: url(../images/star-grey.svg) repeat-x left center / 26px;
  height: 25px;
  width: 105px;
}

.testimonials .star-rating.one:before {
  content: "";
  display: block;
  background: url(../images/star.svg) repeat-x left center / 26px;
  height: 25px;
  width: 25px;
}

.testimonials .star-rating.two:before {
  content: "";
  display: block;
  background: url(../images/star.svg) repeat-x left center / 26px;
  height: 25px;
  width: 50px;
}

.testimonials .star-rating.three:before {
  content: "";
  display: block;
  background: url(../images/star.svg) repeat-x left center / 26px;
  height: 25px;
  width: 75px;
}

.testimonials .star-rating.four:before {
  content: "";
  display: block;
  display: block;
  background: url(../images/star.svg) repeat-x left center / 26px;
  height: 25px;
  width: 100px;
}

.job-page .inner-box {
  max-width: 1400px;
  position: relative;
}

.two-column-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: auto 300px;
}

.two-column-layout .container {
  overflow: hidden;
  width: 100%;
}

.two-column-layout .main-content {
  width: 200%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#apply-checkbox {
  display: none;
}

#apply-checkbox:checked~.two-column-layout .main-content {
  margin-left: -100%;
}

.apply {
  width: 100%;
}

.apply:before {
  content: "Apply for This Job";
}

#apply-checkbox:checked~.two-column-layout .side-content .apply:before,
#apply-checkbox:checked~.mobile-content .apply:before,
#apply-checkbox:checked~.two-column-layout .mobile-content .apply:before {
  content: "« View Job Description";
}

.two-column-layout .main-content .entry,
.two-column-layout .main-content .form {
  width: 100%;
  padding-right: 7vw;
}

.two-column-layout .side-content {
  width: 300px;
  padding: 30px;
  background: rgba(248, 248, 248, 1);
}

.two-column-layout .side-content.fixed {
  position: fixed;
  top: 120px;
  width: 300px;
}

.two-column-layout .main-content h2 {
  font-size: 1.5em;
}

.two-column-layout .side-content h3 {
  color: rgba(86, 166, 63, 1);
  margin-bottom: 0;
  font-size: 0.8em;
  font-weight: bold;
}

.meta-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.meta-grid .item {
  width: 50%;
  min-width: 180px;
  font-size: 0.8em;
}

.meta-grid .item h3 {
  margin-bottom: 0.25em;
  font-weight: bold;
}

.social-side a {
  font-size: 2em;
  display: inline-block;
  margin-right: 0.25em;
}

.gfield_html {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gform_wrapper .top_label input.medium {
  width: 100%!important;
}

.gfield.full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.job-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.job-grid>.item {
  background: rgba(248, 248, 248, 1);
  padding: 30px;
  margin: 20px;
}

.job-grid>.item:nth-child(odd) {
  margin-left: 0;
}

.job-grid>.item:nth-child(even) {
  margin-right: 0;
}

.mobile-content {
  display: none;
}