@import "node_modules/@wordpress/base-styles/colors";
@import "node_modules/@wordpress/base-styles/variables";

:root,
.editor-styles-wrapper {
	--wp-admin-theme-color: #09757a !important;
	--wp-admin-theme-color-darker-10: #005c61 !important;
	--wp-admin-theme-color-darker-20: #004247 !important;
}

@import "sidekick";

.block-editor-block-inspector .block-editor-block-card__description,
.block-editor-color-gradient-control__button-tabs,
.block-editor-editor-skeleton__footer,
.block-editor-inserter__tips,
.edit-post-editor-regions__footer,
.edit-post-fullscreen-mode-close.has-icon,
.edit-post-header .editor-post-switch-to-draft,
.edit-post-header__toolbar .components-dropdown:nth-child(2),
.edit-post-last-revision__panel,
.edit-post-layout__footer,
.edit-post-sidebar__panel-tabs .has-icon,
.editor-post-save-draft,
.table-of-contents {
	display: none !important;
}

.interface-interface-skeleton__header {
	border: none;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125);
}

.interface-interface-skeleton__sidebar > div {
	border-top: 1px solid #e4e6e8;
}

.block-editor-block-patterns-list__item {
	margin-top: 25px;
}

.block-editor-block-patterns-list__item-title {
	display: none;
}

.yoast-icon-seo-score,
.yoast-icon-readability-score {
	display: none !important;
}

.edit-post-pinned-plugins button.components-button[aria-label="Yoast SEO"] > svg,
.edit-post-pinned-plugins button.components-button[aria-label="Yoast SEO Premium"] > svg,
div.interface-pinned-items button.components-button[aria-label="Yoast SEO"] > svg,
div.interface-pinned-items button.components-button[aria-label="Yoast SEO Premium"] > svg {
	height: 24px !important;
	max-height: 24px !important;
	max-width: 24px !important;
	position: relative;
	right: -4px;
	width: 24px !important;
}

@media (min-width: 782px) {

	.interface-interface-skeleton__sidebar,
	.interface-interface-skeleton__left-sidebar {
		border-color: #e4e6e8;
	}
}

.components-panel,
.components-panel__body {
	border-color: #e4e6e8 !important;
}

.components-panel__header {
	background: #f5f7f8;
	height: 42px;

	&.interface-complementary-area-header {
		margin-top: 0;
	}
}

.edit-post-sidebar__panel-tabs {
	background: none;
}

.components-dropdown-menu__menu .components-menu-group + .components-menu-group {
	border-color: $gray-900;
}

.nextgen-shortcut.components-button {
	color: $gray-900;
}

.components-button.edit-post-sidebar__panel-tab {
	height: 41px;
	position: relative;
	top: -1px;

	&:not(.is-active):hover {
		color: var(--wp-admin-theme-color);
	}
}

.components-button.edit-post-sidebar__panel-tab.is-active {
	background: #f5f7f8;
	box-shadow: 0 0 0 #000;
}

.components-button.edit-post-sidebar__panel-tab.is-active:focus {
	box-shadow: inset 0 0 0 1.5px #f5f7f8, inset 0 -4px 0 0 #f5f7f8;
}

.components-form-token-field__input-container.is-active {
	border-color: var(--wp-admin-theme-color);
	box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
}

.interface-pinned-items {

	.components-button.has-icon {
		height: 32px;
		margin-left: 8px;
		min-width: 32px;
		padding: 0;
		width: 32px;
	}
}

.interface-pinned-items .components-button.is-pressed {
	background: var(--wp-admin-theme-color);

	&:hover {
		background: #00a4a6;
	}

	&:focus {
		color: #fff;
	}

}

.block-editor-post-preview__dropdown .components-button.is-tertiary:not(:disabled):hover {
	box-shadow: none !important;
	color: var(--wp-admin-theme-color);
}

.block-editor-block-styles__item.is-active {

	.block-editor-block-styles__item-label {
		font-weight: 400;
	}

	.block-editor-block-styles__item-preview {
		border-color: $gray-900;
	}
}

.block-editor-block-inspector {


	.block-editor-block-card {
		align-items: center;
		background-color: #f5f7f8;
		display: flex;
		padding: 8px 10px;

	}

	.block-editor-block-card__title {
		font-family: gdsherpa, Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 0;
		position: relative;
		top: 1px;
	}
}

.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus::after {
	border-radius: 0;
}

.edit-post-pinned-plugins .components-button:hover svg {

	&,
	* {
		fill: var(--wp-admin-theme-color) !important;
		stroke: var(--wp-admin-theme-color) !important;
	}
}

.components-placeholder.is-large .components-placeholder__label {
	font-size: 14pt;
	margin-bottom: 10px;
}

.block-editor,
.block-editor .edit-post-sidebar {
	color: $gray-900;
}

.block-editor .components-panel__header {
	border: 0 !important;
}

.block-editor .components-notice.is-warning {
	background-color: #d8efef;
	border-bottom: 0;
	border-left: 0;
	color: var(--wp-admin-theme-color);
}

.block-editor .components-notice.is-warning .components-notice__action.is-link {
	margin-top: 0;
}

.block-editor .components-button.is-secondary {
	background: none !important;
	white-space: nowrap;
}

.block-editor .components-button.is-secondary:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
	border-color: #444;
	box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color);
	color: var(--wp-admin-theme-color);
}

.block-editor .components-button.is-secondary:not(.is-primary):not(:disabled):not([aria-disabled="true"]):hover {
	color: var(--wp-admin-theme-color) !important;
	background: $white !important;
	border-color: $gray-900 !important;
}


.block-editor .edit-post-post-link__link,
.block-editor .components-button.is-link {
	color: var(--wp-admin-theme-color);
}

.block-editor a:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover,
.block-editor .edit-post-post-link__link:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover,
.block-editor .components-button.is-link:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
	color: var(--wp-admin-theme-color);
}

.block-editor .block-list-appender.is-drop-target > div::before {
	border-color: var(--wp-admin-theme-color);
}

.block-editor .editor-post-trash.components-button {
	color: #da1802;
	border-color: #da1802;
}

.edit-post-layout .components-editor-notices__snackbar {
	bottom: 18px;
}

.block-editor .components-snackbar__action {
	color: $white !important;
}

.block-editor .block-editor-link-control .block-editor-link-control__search-input.block-editor-link-control__search-input input[type="text"]:focus {
	border-color: var(--wp-admin-theme-color);
	box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
}

.block-editor .components-range-control__slider::-webkit-slider-thumb {
	background: $gray-900;
}

.block-editor .components-range-control__slider::-moz-range-thumb {
	background: $gray-900;
}

.block-editor .components-range-control__slider::-ms-thumb {
	background: $gray-900;
}

.block-editor .components-form-toggle .components-form-toggle__track {
	border-color: $gray-900;
}

.block-editor .components-form-toggle .components-form-toggle__thumb {
	background-color: $gray-900;
	border-color: $gray-900;
}

.block-editor .components-form-toggle .components-form-toggle__off {
	color: $gray-900;
}

.block-editor .components-form-toggle.is-checked .components-form-toggle__thumb {
	background-color: $white;
	border-color: $white;
}

.block-editor__container img:focus {
	outline: none;
}

.components-tab-panel__tabs-item.is-active {
	box-shadow: inset 0 0 0 1.5px transparent,inset 0 -4px 0 0 var(--wp-admin-theme-color);
	position: relative;
}

.edit-post-fullscreen-mode-close__toolbar {
	display: none !important;
	padding: 15px 15px;

	@media (min-width: 782px) {
		margin: -10px 10px -8px -10px;
	}
}

.editor-post-featured-image__toggle {
	background-color: $gray-100;
}

.components-panel__body > .components-panel__body-title:hover {
	background-color: #f5f7f8 !important;
}

.components-panel__body > .components-button,
.components-button.edit-post-sidebar__panel-tab,
.components-panel__body-toggle.components-button {
	color: $gray-900;
}

.block-editor-block-list__block-popover-inserter .block-editor-inserter__toggle,
.block-editor-block-list__insertion-point-inserter .block-editor-inserter__toggle {
	color: var(--wp-admin-theme-color);
}

.edit-post-header__settings .edit-post-pinned-plugins {
	order: 1;
	margin-right: 10px;
}

.edit-post-header__settings .edit-post-more-menu {
	order: 4;
}

.edit-post-header__settings .editor-post-publish-button__button {
	border-radius: 0;
	margin-left: 25px;
	order: 3;
}

.edit-post-header__settings .editor-post-preview__dropdown {
	display: none;
}

.edit-post-header__settings > .components-button.has-icon {
	background-color: transparent !important;
	color: $gray-900;
	order: 2;
}

.components-panel__header.edit-post-sidebar-header .components-button svg {
	fill: $gray-100 !important;
}

.components-panel__header.edit-post-sidebar-header {
	background-color: $gray-100;
}

.components-toolbar,
.has-fixed-toolbar .block-editor-block-toolbar .components-toolbar,
.edit-post-editor-regions__header {
	border-color: #d3dbe0;
}

.editor-post-publish-panel__header-publish-button .components-button.is-primary {
	background: $gray-900;
	height: 42px;
	padding-left: 22px;
	padding-right: 22px;
	border-radius: 0;
	border-color: $gray-900;
	color: $white;
}

.editor-post-publish-panel__header-publish-button .components-button.is-primary:focus:enabled,
.editor-post-publish-panel__header-publish-button .components-button.is-primary:not(:disabled):not([aria-disabled="true"]):hover {
	background: #444;
	border-color: #444;
}

.edit-post-header .components-button.editor-post-switch-to-draft,
.edit-post-header .components-button.editor-post-preview,
.edit-post-header .components-button.editor-post-publish-button,
.edit-post-header .components-button.editor-post-publish-button__button {
	height: 42px;
}

.edit-post-header .components-button.is-primary {
	background: $gray-900;
	border-color: $gray-900;
	color: $white;
}

.components-button.is-secondary:disabled,
.components-button.is-secondary[aria-disabled="true"],
.components-button.is-secondary[aria-disabled="true"]:hover,
.components-button.is-tertiary:disabled,
.components-button.is-tertiary[aria-disabled="true"],
.components-button.is-tertiary[aria-disabled="true"]:hover {
	background: $white;
}

.block-editor-post-preview__dropdown .components-button.is-tertiary:not(:disabled) {
	color: $gray-900;
}

.block-editor-post-preview__dropdown .components-button.is-tertiary:not(:disabled):hover {
	box-shadow: inset 0 0 0 1px $gray-900;
}

.edit-post-header .components-button.editor-post-preview,
.edit-post-header .components-button.editor-post-publish-button,
.edit-post-header .components-button.editor-post-publish-button__button {
	font-weight: 600;
	padding-left: 22px;
	padding-right: 22px;
	font-family: gdsherpa, Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1;
	padding-top: 1px;
	padding-bottom: 0;
	-webkit-font-smoothing: antialiased;
}

.edit-post-header .components-button.is-primary:disabled,
.edit-post-header .components-button.is-primary:disabled:active:enabled,
.edit-post-header .components-button.is-primary[aria-disabled="true"],
.edit-post-header .components-button.is-primary[aria-disabled="true"]:active:enabled,
.edit-post-header .components-button.is-primary[aria-disabled="true"]:enabled {
	background-color: $gray-900;
	border-color: $gray-900;
	opacity: 0.4;
	color: $white;
	cursor: not-allowed;
}

.edit-post-header .components-button.is-primary:disabled:active:enabled:focus,
.edit-post-header .components-button.is-primary:disabled:active:enabled:hover,
.edit-post-header .components-button.is-primary:disabled:focus,
.edit-post-header .components-button.is-primary:disabled:hover,
.edit-post-header .components-button.is-primary[aria-disabled="true"]:active:enabled:focus,
.edit-post-header .components-button.is-primary[aria-disabled="true"]:active:enabled:hover,
.edit-post-header .components-button.is-primary[aria-disabled="true"]:enabled:focus,
.edit-post-header .components-button.is-primary[aria-disabled="true"]:enabled:hover,
.edit-post-header .components-button.is-primary[aria-disabled="true"]:focus,
.edit-post-header .components-button.is-primary[aria-disabled="true"]:hover {
	background-color: $gray-900;
	border-color: $gray-900;
}

.interface-pinned-items {
	display: flex;
}

.interface-pinned-items .components-button:first-child {
	order: 1;
}

.components-form-toggle {
	display: inline-block;
	position: relative;
}

@font-face {
	font-family: gdsherpa;
	src: url(//img1.wsimg.com/ux/fonts/sherpa/1.1/gdsherpa-bold.woff2) format("woff2"), url(//img1.wsimg.com/ux/fonts/sherpa/1.1/gdsherpa-bold.woff) format("woff");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: gdsherpa;
	src: url(//img1.wsimg.com/ux/fonts/sherpa/1.1/gdsherpa-regular.woff2) format("woff2"), url(//img1.wsimg.com/ux/fonts/sherpa/1.1/gdsherpa-regular.woff) format("woff");
	font-display: swap;
}

.block-editor-post-preview__dropdown {
	margin-left: 12px;
}
